# Project Settings
PROJECT_NAME="Podify"

# Database
# For local Postgres, use: postgresql://postgres:postgres@localhost:5432/podify
# For NeonDB (Serverless Postgres), use the connection string from your console:
DATABASE_URL="postgresql://user:password@ep-xxxxxx.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Google Gemini API
GEMINI_API_KEY="AIzaSy..."
GROQ_API_KEY=""

# CORS Configuration (Optional, defaults to localhost:3000)
# CORS_ORIGINS=["http://localhost:3000"]

# Text-To-Speech Providers (ElevenLabs or OpenAI)
ELEVENLABS_API_KEY=""
OPENAI_API_KEY=""

# Cerebras Inference API
CEREBRAS_API_KEY=""
